@tailwind base;
@tailwind components;
@tailwind utilities;

/* Фиксированный градиентный фон */
body {
  @apply min-h-screen;
  background: linear-gradient(to bottom, #F9FAFB 0%, #A8CBEE 100%);
  background-attachment: fixed;
  background-size: cover;
}